{% extends "appomatic_djangoobjfeed/models/ObjFeedEntry/inline.html" %}
{% load i18n %}

{% block feed_entry_footer %}
  <form method="POST" id="{{obj.fieldname}}delete">
    {% csrf_token %}
    <input type="hidden" name="{{obj.fieldname}}method" value="delete">
    <a href="javascript:document.forms['{{obj.fieldname}}delete'].submit();">{% trans "Delete" %}</a>
  </form>
{% endblock %}

{% block feed_entry_body %}
  {{obj.content}}

  <span class="autohide-button" id="update_comment_{{obj.id}}-button">Update</span>
  <form method="POST" class="autohide-body" id="update_comment_{{obj.id}}-body">
    {% csrf_token %}
    <input type="hidden" name="{{obj.fieldname}}method" value="update">
    <textarea name="{{obj.fieldname}}content" cols="0" rows="0" class="textfield">{{obj.content}}</textarea>
    <button type="submit">{% trans "Save comment" %}</button>
  </form>
{% endblock %}
