{% extends "djangoobjfeed/render_feed_entry.html" %}
{% load i18n %}

{% block feed_entry_footer %}
  {{ block.super }}
  <a href="{% url 'appomatic_djangoobjfeed.views.delete_comment' %}?comment={{ feed_entry.obj_feed_entry.id }}">Slett</a>
{% endblock %}

{% block feed_entry_body %}
  {{feed_entry.obj_feed_entry.content}}

  <span class="autohide-button" id="update_comment_{{feed_entry.obj_feed_entry.id}}-button">Oppdater</span>
  <form action="{% url 'appomatic_djangoobjfeed.views.update_comment' %}" method="POST" class="autohide-body" id="update_comment_{{feed_entry.obj_feed_entry.id}}-body">
    {% csrf_token %}
    <input type="hidden" name="comment" value="{{feed_entry.obj_feed_entry.id}}">
    <textarea name="content" cols="0" rows="0" class="textfield">{{feed_entry.obj_feed_entry.content}}</textarea>
    <button type="submit">{% trans "Save comment" %}</button>
  </form>
{% endblock %}
